@import "bootstrap";

body{
	background: image-url('DCcharacters.jpg') no-repeat;
	height: 100%;
	background-size: cover;
	opacity: 0.8;

}
.App{
	padding: 5%;
	text-align: center;
}

button {
	cursor: pointer;
	float: right;
}


